<% content_for :subtitle do %>
...my cousin works for Bit.ly
<% end %>

<% content_for :link_bar do %>
<% end %>

<h2>Editing "<%=h @article.title %>"</h2>

<% form_for(@article) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :fulltext %>
    <%= f.text_area :fulltext %>
  </p>
  <p>
    <%= f.submit 'Save Changes' %>
  </p>
<% end %>
