<% content_for :subtitle do %>
...with a name .com hipsters love!
<% end %>

<div id="title">
	<h2>All the World's Articles</h2>
</div>

<div id="new_link">
	<%= link_to image_tag('add.png'), :action => 'new' %>
	<%= link_to 'new article', :action => 'new', :title => 'Create a new article' %>
</div>

<table id="articles_list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Article Text</th>
      <th>Creation Date</th>
      <th></ths>
  </thead>
  <tfoot>
  	<tr>
  		<td colspan="5">
  			<p><%= pluralize(@articles.size, 'article') %></p>
  		</td>
  	</tr>
  </tfoot>
  <tbody>
	  <% @articles.each do |article| %>
	  	<tr>
	  	  <td><%=h article.title %></td>
	  	  <td><%=h article.author %></td>
	  	  <td><%=h truncate(article.fulltext, :length => 20) %></td>
	  	  <td><%= article.created_at.to_s(:datetime) %></td>
	  	  <td>Edit and stuff goes here</td>
	  	</tr>
  	<% end %>
  </tbody>
  <tfoot>
  
  </tfoot>
</table>
